.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  color: #333;
}
.searchWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /* width: 100%; */
  max-width: 410px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 20px;
}
.searchIcon {
  color: #888;
  font-size: 18px;
  margin-left: 8px;
}
.searchWrap .input-box {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0px 8px;
  font-size: 16px;
  background: transparent;
}
.searchWrap:focus-within {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Placeholder style */
.input-box::placeholder {
  color: #aaa;
}

.banner {
  position: relative;
  /* width: 100%; */
  height: 525px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* .banner:hover img {
  transform: scale(1.1);
} */

.banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 90%;
  background: #0f0f0f6e;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
.banner_content h3 {
  font-size: 2.7rem;
  margin-bottom: 30px;
}
.banner_content p {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 0.9rem;
  color: #ddd;
}
.bannerIc {
  display: flex;
  align-items: center;
  gap: 12px;
}
.bannerIc img {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerIc span {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_content svg {
  color: var(--primary-color);
}

.articles_wrap {
  padding: 20px;
}

.articles_wrap h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.articles_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.article {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* padding: 15px; */
  width: calc(50% - 10px);
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 5px solid var(--secondary-color);
}

.article:hover {
  transform: translateY(-5px);
}
.article_img img {
  width: 100%;
  height: 260px;
  /* border-radius: 8px; */
  object-fit: cover;
  transition: transform 0.3s ease;
}
.article:hover img {
  transform: scale(1.1);
}
.text_content {
  padding: 15px;
}
.text_content p {
  font-size: 0.9rem;
  color: var(--light-text-color);
  margin: 10px 0;
}

.text_content span {
  margin-right: 10px;
  color: rgb(102, 101, 101);
  background-color: #00000015;
  padding: 10px;
  cursor: pointer;
}
.text_content h2 {
  padding: 20px 0px;
}
.text_content .heading {
  font-size: 1.5rem;
  color: var(--heading-color);
  text-decoration: none;
  cursor: pointer;
}

.text_content .heading:hover {
  text-decoration: underline;
}
.text_content .description {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 22px;
}
.text_content .readMore {
  color: var(--primary-color);
  cursor: pointer;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.text_content .readMore:hover {
  text-decoration: underline;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .banner_content {
    margin: 0;
  }
  .banner_content h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .banner_content h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 468px) {
  .banner {
    margin: 0px;
    border-radius: 0px;
  }
  .banner_content {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.247);
    background: linear-gradient(to top, #ffffff00, #000000);
    
  }
  .banner_content h3 {
    font-size: 1.5rem;
    margin: 30px 20px;
  }
  .bannerIc img {
    display: none;
    border-radius: 0px;
  }
  .bannerIc span {
    display: none;
  }
  .banner_content p {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 0.9rem;
    color: #ddd;
    justify-content: center;
  }
  .bannerIc {
    padding: 5px 8px;
    border-radius: 2px;
    background-color: #ffffff33;
  }
  .articles_content {
    display: flex;
    flex-direction: column;
  }

.articles_wrap h1 {
  font-size: 1.5rem;
}
  .article{
    width: 100%;
  }
  .text_content .heading {
    font-size: 1.4rem;
}
}
