.heading_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1200px;
}
.heading_wrapper h1 {
  font-size: 2.5rem;
  color: #1f2937;
  margin: 3rem 0 0 0;
}
.heading_wrapper p {
    margin: 0.5rem 0;
    color: #6b7280;
  }
.tabs-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0 2rem 0;
  gap: 1rem;
}

.tab-button {
  /* background: linear-gradient(45deg, #99e9a5, #4d6bdf); */
  background: white;
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
  border-radius: 30px;
  transition: all 0.4s ease;
}

.tab-button.active {
  /* background: #9333ea; */
  /* box-shadow: 0px 4px 10px rgba(147, 51, 234, 0.4); */
  background: linear-gradient(45deg, #99e9a5, #4d6bdf);
  box-shadow: 0px 4px 10px #b0bff9;
  color: white;
}

.tab-button:not(.active):hover {
  background: #4d6bdf;
}

.plans-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.plan-card {
  background: linear-gradient(135deg, #ffffff, #f1f5f9);
  border: none;
  border-radius: 15px;
  padding: 2.5rem;
  width: 430px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.plan-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.plan-card:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(75, 51, 234, 0.1), transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  z-index: 0;
  transition: transform 0.4s ease;
}

.plan-card:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.plan-card h2 {
  font-size: 1.8rem;
  color: #1f2937;
  margin-bottom: 1rem;
}

.plan-card p {
  margin: 0.5rem 0;
  color: #6b7280;
}

.plan-price {
  font-size: 2rem;
  color: #3b82f6;
  font-weight: bold;
  padding: 1rem 0;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.plan-features li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
}

.plan-features li:before {
  content: "✔";
  color: #10b981;
  font-size: 1.2rem;
  margin-right: 5px;
}

.plan-button {
  background: linear-gradient(to right, #99e9a5, #4d6bdf);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 1rem;
}

.plan-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(59, 130, 246, 0.3);
}

.free {
  border: 3px solid #10b981;
}

.basic {
  border: 3px solid #f59e0b;
}

.advance {
  border: 3px solid #4d6bdf;
}
