.wrapper {
  padding: 3rem 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.header {
  margin-bottom: 40px;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--heading-color);
}

.header p {
  font-size: 1.2rem;
  color: var(--light-text-color);
}

.cardsWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  justify-items: center;
  max-width: 800px;
}

.card {
  background: transparent;
  border-radius: 16px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease;
}
.heading_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 12px;
  flex-wrap: nowrap;
}

.icons {
    flex-shrink: 0; 
  font-size: 32px;
  color: var(--primary-color);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d4ddff;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--heading-color);
  flex: 1; 
  margin: 0;
  word-break: break-word;
}

.content p {
  font-size: 1rem;
  color: #444;
  margin: 8px 0 0;
  line-height: 1.6;
}



@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    padding: 2rem;
    flex-direction: column;
  }
  .header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
  }
  .header{
    margin-top: 0px;
    text-align: center;
  }
  .cardsWrap{
    max-width: 100%;
  }
  .card {
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
  }
  .header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 470px) {
  .header{
    padding: 0px;
  }
  .header h1 {
    font-size: 1.8rem;
  }


}